#headerpane > div > form.navbar-right
{
    margin-right: 10px;
}
#toppane
{
    padding-left: 0px;
}
#toppane > div > pre
{
    background-color: #5cb85c;
    text-align: center;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: medium;
    /*color: brown;*/
}


#homecontent figure {
    display: inline-block;
    border:1px solid grey;
    position: relative;
    margin: 20px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;


}

#homecontent figure:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}


#homecontent figure a{
    text-decoration: none;
    text-align: center;
}

#homecontent figure .thumbnail{
    float: none;
    margin: 5px;
    margin-bottom: 0px;
}

#homecontent
{
    padding: 5% 10% ;
    margin: 20px 20px;
}


#leftpane
{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 14px;

}
#leftpane div
{
    padding-right: 0px;
    padding-left: 0px;
    border-right: 1px solid;
    border-color: darkred;
    background-color:aliceblue;
}

#leftpane div ul.nav li
{
    width: 100%;
}
#leftpane div ul li a
{
    background-color: transparent;
}

#leftpane div ul li.selected
{
    background-color: darkseagreen;
}

#middlepane
{
    margin-left: 20px;
    margin-top: 20px;
}


#middlepane div h1,h2,h3,h4
{
    margin: 0px;
}
#rightpane
{
    padding-right: 20px;
    padding-left: 0px;
    border-left: 1px solid;
}
#footerpane > div
{
    /*border: 1px solid;*/
}
#toppanedata ul li .selected
{
    background-color:darkkhaki !important;
}

#toppanedata ul li a:hover
{
    background-color:darkgray !important;
}

.modal-header, h4, .close
{
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
#footerpane
{
    padding-right: 0px;
    padding-left: 10px;
    border-top: 1px solid;
    border-color: darkred;

}
.meharOne
{
    margin: 15px 15px;
}

.meharOne details summary
{
    /*padding-top: 3px;*/
}

.meharOne details summary
{
    font-size: medium;
}
.meharOne details ul li
{
    list-style-type: square;
    background-color: rgba(246, 252, 153, 0.69);
    color: brown;
}
.meharOne details ul
{
    padding-left: 20px;
}
.meharOne details p
{
    background-color: rgba(246, 252, 153, 0.69);
}

.notes:before {
    content: "Note: ";
    color: brown;
    text-decoration: underline;
    font-weight: bold;
}
.notes
{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgreen;
}

.code
{
    white-space: pre;
    background-color: beige;
    margin-bottom: 0px;
    margin-top: 0px;
    color: brown;
}

details p{
    background-color: rgba(246, 252, 153, 0.69);
}




