#headerpane > div > form.navbar-right
{
    margin-right: 10px;
}

#toppane > div > pre
{
    background-color: #5cb85c;
    text-align: center;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: medium;
    color: brown;
}

.nav-tabs > .active > a
{
    background-color: red;
}
#leftpane
{
    padding-right: 0px;
    padding-left: 0px;
}
#leftpane > div
{
    /*border: 1px solid;*/
}
#middlepane > div
{
    /*border: 1px solid;*/
}
#rightpane > div
{
    /*border: 1px solid;*/
}
#footerpane > div
{
    /*border: 1px solid;*/
}
#toppane > div
{
    /*border: 1px solid;*/
}
.modal-header, h4, .close
{
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}


