<div class="row" ng-model="login" ng-model="userName" ng-init="login=false">
    <ul class="list-inline pull-right">
        <li ng-show="login" class="label">Welcome &nbsp;</li>
        <li ng-show="login"><label>{{userName}}&nbsp; </label></li>

        <li ng-hide="login">
            <button type="button" data-toggle="modal" data-target="#loginModal" class="btn  btn-success btn-sm">
                <span class="glyphicon glyphicon-log-in"/> Sign In
            </button>
        </li>
        <li ng-hide="login">
            <button type="button" data-toggle="modal" data-target="#registerationModal" class="btn  btn-primary btn-sm">
                <span class="glyphicon glyphicon-user"/> Sign Up
            </button>
        </li>
        <li ng-show="login"><button type="button" class="btn  btn-warning btn-sm" ng-click="doLogout()"><span class="glyphicon glyphicon-log-out"/> Logout</button></li>
    </ul>

    <!-- Registration Modal -->
    <div class="modal fade" id="registerationModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-user"/> Registration </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password1"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="text" class="form-control" id="password1" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="password2"><span class="glyphicon glyphicon-eye-open"></span> Confirm Password</label>
                            <input type="text" class="form-control" id="password2" placeholder="Re-Enter password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-success btn-default pull-right"><span class="glyphicon glyphicon-off"></span> Register</button>
                </div>
            </div>
        </div>
    </div>

   <!--Login modal-->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="uname"><span class="glyphicon glyphicon-user"></span> Username</label>
                            <input type="text" class="form-control" id="uname" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="text" class="form-control" id="psw" placeholder="Enter password">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" checked>Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <p>Not a member? <a href="#">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>

        </div>
    </div>

</div>