<div class="col-md-2" style="background-color:light-grey">
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Home Data</h3>
            <ul>
                <li class="active"><a data-toggle="tab" href="#homedata1">Home Data1</a></li>
                <li><a data-toggle="tab" href="#homedata2">Home Data2</a></li>
                <li><a data-toggle="tab" href="#homedata3">Home Data3</a></li>
                <li><a data-toggle="tab" href="#homedata4">Home Data4</a></li>
            </ul>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Menu1 Data</h3>
            <ul>
                <li class="active"><a data-toggle="tab" href="#menu1data1">Menu1 Data1</a></li>
                <li><a data-toggle="tab" href="#menu1data2">Menu1 Data2</a></li>
                <li><a data-toggle="tab" href="#menu1data3">Menu1 Data3</a></li>
                <li><a data-toggle="tab" href="#menu1data4">Menu1 Data4</a></li>
            </ul>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu2 Data</h3>
            <ul>
                <li class="active"><a data-toggle="tab" href="#menu2data1">Menu2 Data1</a></li>
                <li><a data-toggle="tab" href="#menu2data2">Menu2 Data2</a></li>
                <li><a data-toggle="tab" href="#menu2data3">Menu2 Data3</a></li>
                <li><a data-toggle="tab" href="#menu2data4">Menu2 Data4</a></li>
            </ul>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu3 Data</h3>
            <ul>
                <li class="active"><a data-toggle="tab" href="#menu3data1">Menu3 Data1</a></li>
                <li><a data-toggle="tab" href="#menu3data2">Menu3 Data2</a></li>
                <li><a data-toggle="tab" href="#menu3data3">Menu3 Data3</a></li>
                <li><a data-toggle="tab" href="#menu3data4">Menu3 Data4</a></li>
            </ul>
        </div>
    </div>
</div>