<div class="col-md-8" style="background-color:pink">
    <div class="tab-content">
        <div id="homedata1" class="tab-pane fade in active">
            <p>I am homedata1</p>
        </div>
        <div id="homedata2" class="tab-pane fade ">
            <p>I am homedata2</p>
        </div>
        <div id="homedata3" class="tab-pane fade ">
            <p>I am homedata3</p>
        </div>
        <div id="homedata4" class="tab-pane fade ">
            <p>I am homedata4</p>
        </div>
        <div id="menu1data1" class="tab-pane fade ">
            <p>I am menu1data1</p>
        </div>
        <div id="menu1data2" class="tab-pane fade ">
            <p>I am menu1data2</p>
        </div>
        <div id="menu1data3" class="tab-pane fade ">
            <p>I am menu1data3</p>
        </div>
        <div id="menu1data4" class="tab-pane fade ">
            <p>I am menu1data4</p>
        </div>
        <div id="menu2data1" class="tab-pane fade ">
            <p>I am menu2data1</p>
        </div>
        <div id="menu2data2" class="tab-pane fade ">
            <p>I am menu2data2</p>
        </div>
        <div id="menu2data3" class="tab-pane fade ">
            <p>I am menu2data3</p>
        </div>
        <div id="menu2data4" class="tab-pane fade ">
            <p>I am menu2data4</p>
        </div>
        <div id="menu3data1" class="tab-pane fade ">
            <p>I am menu3data1</p>
        </div>
        <div id="menu3data2" class="tab-pane fade ">
            <p>I am menu3data2</p>
        </div>
        <div id="menu3data3" class="tab-pane fade ">
            <p>I am menu3data3</p>
        </div>
        <div id="menu3data4" class="tab-pane fade ">
            <p>I am menu3data4</p>
        </div>
    </div>
</div>